.site-commander-logo-container {
	background-image: url('../images/site-commander-logo.png');
	height: 50px;
}

.gauges-container {
	background-color: #f5f5f5;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

.gauge {
	display: inline-block;
	margin: 10px;
	height: 200px;
	width: 200px;
}

.site-commander-text-stats {
	padding: 10px;
}

.site-commander-text-stats-column {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.site-commander-text-stats-column h3 {
	text-align: right;
}

.site-commander-text-stats label {
	font-weight: bold;
	text-align: right;
}

.site-commander-text-stats span {
	/* color: ForestGreen; */
}

.site-commander-footer {
	font-size: 0.8em;
	color: darkgray;
	text-align: right;
}

#site-commander-loading-message-container {
	text-align: center;
	vertical-align: absmiddle;
}

.badge-active {
  color: white !important;
  background-color: DeepSkyBlue !important;
  margin-top: 3px !important;
}

.badge-green {
  color: white !important;
  background-color: #5cb85c !important;
  margin-top: 3px !important;
}

.badge-openrate {
  color: white !important;
	background-color: #ec971f !important;
  margin-top: 3px !important;
}

.badge-clickrate {
  color: white !important;
	background-color: #5cb85c !important;
  margin-top: 3px !important;
}

.badge-default {
  color: white !important;
  margin-top: 3px !important;
}

#toggleMaintenanceMode:hover {
	cursor: pointer; 
	cursor: hand;
}

.list-group-divider {
	position: relative;
	display: block;
	padding: 3px 15px;
	margin-bottom: -1px;
	border: 1px solid #ddd;

	height: 1px !important;
	overflow: hidden !important;
	background-color: #ccc !important;
}

.btn-search-more {
	margin-top: -4px;
	color: white;
}

.site-commander-icon-action {
	color: MediumSeaGreen !important;
}

.site-commander-icon-noaction {
	color: #bbb !important;
}

.redis-text-stats {
	padding: 10px;
}

.redis-text-stats-column {
	display: inline-block;
	width: 33%;
}

.redis-text-stats-column h3 {
	text-align: right;
}

.redis-text-stats label {
	font-weight: bold;
	text-align: right;
}
.redis-text-stats span {
	color: ForestGreen;
}

.site-commander-incursus-button {
	margin: 10px 25px 0px 0px;
}









.navigation {float: left; width: 1140px; margin: 5px 0px; padding: 0; list-style: none; background-color: #efefef;}
.navigation li {float: left; margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li.active a {background: #428BCA; color: #fff;}
.tab-content > div {float: left; width: 100%;}
.tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
