.site-commander-logo-container {
	/*background-image: url('../images/site-commander-logo.png');
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	*/
	background-color: lightslategray;
	padding: 8px;
	border-radius: 6px;
}

.site-commander-logo-text {
	margin: 0px !important;
	color: lightcyan;
}

.site-commander-hr {
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.gold {
	color: gold !important;
}

.icon-green {
	color: #5cb85c  !important;
}

.forestGreen {
	color: ForestGreen !important;
}

.card-container {
}

.card {
	width: 25%;
	border: 1px solid #ededed;
	padding: 10px;
	margin: 5px 0px;
	text-align: center;
	float: left;
}

.rounded-container {
	border-radius: 6px;
	overflow: hidden;
}

.gauges-container {
	background-color: #f5f5f5;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
}

.gauge {
	display: inline-block;
	margin: 10px;
	height: 200px;
	width: 200px;
}

.site-commander-text-stats {
	padding: 10px;
}

.site-commander-text-stats-column {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.site-commander-text-stats-column h3 {
	text-align: right;
}

.site-commander-text-stats label {
	font-weight: bold;
	text-align: right;
}

.site-commander-text-stats span {
	/* color: ForestGreen; */
}

.site-commander-footer {
	font-size: 0.8em;
	color: darkgray;
	text-align: right;
}

#site-commander-loading-message-container {
	text-align: center;
	vertical-align: absmiddle;
}

.badge-active {
  color: white !important;
  background-color: DeepSkyBlue !important;
  margin-top: 3px !important;
}

.badge-green, .badge-success {
  color: white !important;
  background-color: #5cb85c !important;
  margin-top: 3px !important;
}

.badge-openrate, .badge-warning {
  color: white !important;
	background-color: #ec971f !important;
  margin-top: 3px !important;
}

.badge-clickrate {
  color: white !important;
	background-color: #5cb85c !important;
  margin-top: 3px !important;
}

.badge-default {
  color: white !important;
  margin-top: 3px !important;
}

.badge-info {
  color: white !important;
	background-color: #5bc0de !important;
  margin-top: 3px !important;
}

.badge-danger {
  color: white !important;
	background-color: #d9534f !important;
  margin-top: 3px !important;
}

#toggleMaintenanceMode:hover {
	cursor: pointer; 
	cursor: hand;
}

.list-group-divider {
	position: relative;
	display: block;
	padding: 3px 15px;
	margin-bottom: -1px;
	border: 1px solid #ddd;

	height: 1px !important;
	overflow: hidden !important;
	background-color: #ccc !important;
}

.btn-search-more {
	margin-top: -4px;
	color: white;
}

.site-commander-icon-action {
	color: MediumSeaGreen !important;
}

.site-commander-icon-noaction {
	color: #999 !important;
}

.redis-text-stats {
	padding: 10px;
}

.redis-text-stats-column {
	display: inline-block;
	width: 33%;
}

.redis-text-stats-column h3 {
	text-align: right;
}

.redis-text-stats label {
	font-weight: bold;
	text-align: right;
}
.redis-text-stats span {
	color: ForestGreen;
}

.site-commander-incursus-button {
	margin: 10px;
	background-image: url('../images/incursus-button-background.png') !important;
	background-position: -1px 2px !important;
	height: 32px;
	width: 40px;
}

.site-commander-incursus-button:hover {
	background-position: -2px 1px !important;
}

.navigation {text-align:center; width: 100%; margin: 5px 0px; padding: 0; list-style: none; background-color: #efefef;}
.navigation li {float: left; margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li a:hover { background-color:#ccc; color: white}
.navigation li.active a {background: #428BCA; color: #fff;}
.tab-content > div {float: left; width: 100%;}
.tab-content h4 {width: 100%; margin: 10px 0; color: #333;}

#table-users-online > tbody > tr > td {
	vertical-align: middle;
}

.users-online-avatar {
	width: 60px;
}

.modal {
	margin-top: 200px;
}


.modal[data-modal-color] {
  color: #fff;
}

.modal .modal-header {
  padding: 23px 26px;
  border-bottom: 1px solid transparent;
}

.modal .modal-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid transparent;
}

.modal[data-modal-color] .modal-footer {
  background: rgba(0, 0, 0, 0.1);
}

.modal[data-modal-color] .modal-footer .btn-link {
  font-weight: 400;
}

.modal[data-modal-color] .modal-title, .modal[data-modal-color] .modal-footer .btn-link {
  color: #fff;
}

.modal[data-modal-color] .modal-backdrop {
  background: #fff;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal .modal-footer .btn-link {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.btn-link {
  color: #797979;
  text-decoration: none;
  border-radius: 2px;
}

.modal[data-modal-color] .modal-footer .btn-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration:none;
}

.modal[data-modal-color] .modal-footer .btn-link {
  font-weight: 400;
}

/* ========== MODAL COLORS ===============================*/
.modal[data-modal-color="blue"] .modal-content {
  background: #2196f3;
}

.modal[data-modal-color="lightblue"] .modal-content {
  background: #03a9f4;
}

.modal[data-modal-color="cyan"] .modal-content {
  background: #00bcd4;
}

.modal[data-modal-color="green"] .modal-content {
  background: #4caf50;
}

.modal[data-modal-color="lightgreen"] .modal-content {
  background: #8bc34a;
}

.modal[data-modal-color="red"] .modal-content {
  background: #f44336;
}

.modal[data-modal-color="amber"] .modal-content {
  background: #ffc107;
}

.modal[data-modal-color="orange"] .modal-content {
  background: #ff9800;
}

.modal[data-modal-color="teal"] .modal-content {
  background: #009688;
}

.modal[data-modal-color="bluegray"] .modal-content {
  background: #607d8b;
}

