<audio id="task-complete">
	<source src="{{ drupalInfo.sitecommanderInstallPath }}/audio/task-complete.mp3" type="audio/mp3" />
	<source src="/modules/custom/sitecommander/audio/task-complete.ogg" type="audio/ogg" />
</audio>

<div class="container">
	<div class="row">

		<div class="site-commander-logo-container">
			<h2 class="text-center site-commander-logo-text"><span class="fa fa-star gold"></span> SiteCommander <span class="fa fa-star gold"></span></h2>
		</div>

		<ul class="navigation rounded-container" id="site-commander-tabs">

			<li class="active">
				<a data-toggle="tab" href="#site-actions" data-feature="tooltip" data-placement="top" title="Site Actions">
					<span class="fa fa-home"></span>
				</a>
			</li>

			<li class="">
				<a href="#server-performance" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Server Performance">
					<i class="fa fa-server"></i>
				</a>
			</li>

			<li class="">
				<a href="#caching-performance" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Caching Performance">
					<i class="fa fa-database"></i>
				</a>
			</li>

			<li class="">
				<a href="#users-online" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Authenticated Users Online Now">
					<i class="fa fa-users"></i>
				</a>
			</li>

			<li class="">
				<a href="#sessions" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Browse/Manage Sessions">
					<i class="fa fa-desktop"></i>
				</a>
			</li>

			<li class="">
				<a href="#storage-health" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Storage Health">
					<i class="fa fa-hdd-o"></i>
				</a>
			</li>

			<li class="">
				<a href="#backup-manager" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Backup Manager">
					<i class="fa fa-archive"></i>
				</a>
			</li>

			<li class="">
				<a href="#broadcasts" data-toggle="tab" data-feature="tooltip" data-placement="top" title="Broadcasts">
					<i class="fa fa-bullhorn"></i>
				</a>
			</li>

			<li class="">
				<a href="#" title="Reload" id="reloadLink" data-feature="tooltip" data-placement="top" >
					<i class="fa fa-repeat"></i>
				</a>
			</li>

			<li class="pull-right">
				<a href="http://incurs.us" target="_blank" title="Incurs.us" data-feature="tooltip" data-placement="top" >
					<i class="fa fa-external-link-square"></i>
				</a>
			</li>

			<li class="pull-right">
				<a href="https://github.com/IncursusInc/sitecommander/issues" target="_blank" title="Support via GitHub" data-feature="tooltip" data-placement="top" >
					<i class="fa fa-github-alt"></i>
				</a>
			</li>

			<li class="pull-right">
				<a href="/admin/config/sitecommander" target="_blank" title="Configure SiteCommander" data-feature="tooltip" data-placement="top" >
					<i class="fa fa-gears"></i>
				</a>
			</li>

		</ul>

	</div> <!-- row -->

	<!-- Tab panes -->
	<div class="row">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="site-actions">
				{% include '@sitecommander/tab-site-actions.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="server-performance">
				{% include '@sitecommander/tab-server-performance.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="storage-health">
				{% include '@sitecommander/tab-storage-health.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="caching-performance">
				{% include '@sitecommander/tab-caching-performance.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="users-online">
				{% include '@sitecommander/tab-users-online.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="sessions">
				{% include '@sitecommander/tab-sessions.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="backup-manager">
				{% include '@sitecommander/tab-backup-manager.html.twig' %}
			</div>
			<div role="tabpanel" class="tab-pane" id="broadcasts">
				{% include '@sitecommander/tab-broadcasts.html.twig' %}
			</div>
		</div>
	</div> <!-- row -->

	<div class="site-commander-footer">
		<hr class="site-commander-hr" />
		<p>Powered by SiteCommander, &copy; Copyright 2016, <a href="http://incurs.us">Incursus, Inc.</a></p>
	</div>

</div> <!-- container -->
