<div class="text-center site-commander-logo-container">
	<a target="_blank" href="http://incurs.us"><span class="pull-right btn btn-default site-commander-incursus-button fa fa-external-link"></span></a>
	<div class="clearfix"></div>
</div>


<div class="container">
	<div class="row">

		<ul class="navigation" id="site-commander-tabs">

			<li class="active">
				<a data-toggle="tab" href="#site-actions" title="Site Actions">
					<span class="fa fa-home"></span>
				</a>
			</li>

			<li class="">
				<a href="#server-performance" data-toggle="tab" title="Server Performance">
					<i class="fa fa-server"></i>
				</a>
			</li>

			<li class="">
				<a href="#caching-performance" data-toggle="tab" title="Caching Performance">
					<i class="fa fa-database"></i>
				</a>
			</li>

			<li class="">
				<a href="#" title="Reload" id="reloadLink">
					<i class="fa fa-refresh"></i>
				</a>
			</li>

			<li class="">
				<a href="/admin/config/sitecommander" target="_blank" title="Configuration">
					<i class="fa fa-gears"></i>
				</a>
			</li>

		</ul>

	</div> <!-- row -->
</div> <!-- container -->

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="site-actions">
		{% include '@sitecommander/tab-site-actions.html.twig' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="server-performance">
		{% include '@sitecommander/tab-server-performance.html.twig' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="caching-performance">
		{% include '@sitecommander/tab-caching-performance.html.twig' %}
	</div>
</div>


<div class="site-commander-footer">
	<hr class="site-commander-hr" />
	<p>Powered by SiteCommander, {{ sitecommanderVersion }}, &copy; Copyright 2016, <a href="http://incurs.us">Incursus, Inc.</a>, All rights reserved.</p>
</div>
