<div class="well">
	<h2 class="tab-title"><span class="fa fa-database"></span> Database Performance</h2>
</div>

<hr class="site-commander-hr" />
<h4 class="text-center"><span class="icon-green">{{ drupalInfo.dbName }}</span>, v{{ drupalInfo.dbVersion }}, {{ drupalInfo.dbDriver }} PDO Driver</h4>
<hr class="site-commander-hr" />

{% if drupalInfo.dbDriver == 'mysql' %}
	{% include '@sitecommander/tab-db-mysql.html.twig' %}
{% endif %}

