
<div id="site-commander-loading-message-container"><h2>Gathering statistics ...</h2></div>
<h2>CPU Load Average</h2>
<div class="gauges-container">
	<div id="loadAverage1" class="gauge 200x160px"></div>
	<div id="loadAverage2" class="gauge 200x160px"></div>
	<div id="loadAverage3" class="gauge 200x160px"></div>
</div>

